# EmailJS Credentials
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_EMAILJS_ADMIN_TEMPLATE_ID=your_admin_template_id
VITE_EMAILJS_USER_TEMPLATE_ID=your_user_template_id

# Contact Config
VITE_ADMIN_EMAIL=sales@reportsinsider.com

# API Config
VITE_API_URL=https://reportsinsider.com/api
